<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>增加商品</title>
    <link rel="stylesheet" href="/public/assets/css/weui.min.css" />
    <link rel="stylesheet" href="/public/assets/css/weui.pagehd.css" />
    <script type="text/javascript" src="/public/assets/js/jquery-1.10.2.min.js"></script>
</head>



<body>

    <div class="page">

        {include file="public/back" /}

        <form method="POST">

            <div class="weui-cells__title">增加商品基本信息</div>
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">商品名称</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" placeholder="请输入商品名称" name="goods_name" />
                    </div>
                </div>
            </div>

            <div class="weui-cells__title">价格</div>
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">售价</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" placeholder="请输入售价" name="price" />
                    </div>
                </div>
            </div>
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">包装费</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" placeholder="请输入包装费" name="packing_fee" />
                    </div>
                </div>
            </div>

            <div class="weui-cells__title">介绍</div>
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <textarea class="weui-textarea" placeholder="请输入介绍文本" rows="3" name="detail"></textarea>

                    </div>
                </div>
            </div>


            <div class="weui-cells__title">数量</div>
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">销量</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" placeholder="请输入销量" name="sales" />
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">库存</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" placeholder="请输入库存" name="stock" />
                    </div>
                </div>
            </div>

            <div class="weui-msg__opr-area">
                <p class="weui-btn-area">
                    <button type="submit" class="weui-btn weui-btn_primary">保存</button>
                </p>
            </div>

        </form>

    </div>
</body>

</html>