<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>


<style>
    p {
        margin-bottom: 0px !important;
    }
    .weui-label {
        display: block;
        width: 105px;
        word-wrap: break-word;
        word-break: break-all;
        font-size:inherit !important;
        font-weight: inherit !important;
        margin-bottom: 0px !important;
    }
</style>

<div class="dropdown">
    <button type="button" class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
        <img src="/public/assets/img/list.png" width="20px;" />

    </button>

    <ul class="dropdown-menu" style="min-width: 130px;" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation" class="dropdown-header">快捷操作</li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/index.php/index">返回首页</a>
        </li>
        <li role="presentation" class="divider"></li>
        <li role="presentation" class="dropdown-header">功能菜单</li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/index.php/shop/config/index">店铺设置</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/index.php/shop/menu/index">菜单分类</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/index.php/shop/goods/index">商品列表</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/index.php/shop/order/index">订单管理</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/index.php/shop/money/index">资金流水</a>
        </li>
        
    </ul>
</div>